@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    .display-none {
        @apply hidden;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
  }