.popup{
    transform:translate(-50% ,50%) scale(0);
    position: absolute;
    visibility:hidden ;
    top: 0;
   
}
.he{
   visibility: visible;
   top: 50%;
   transform:translate(-50% ,50%)  scale(1);
   position: absolute;

}